body {
	margin: 0;
	padding: 0;
}

.navbar {

	display: flex;
	align-items: center;
	margin-bottom: 50px;

	span {
		color: #fff;
	}

	button, div {
		margin-top: 0 !important;
	}
}

ul > li {
	list-style: none;
	margin-right: 20px;
}

ul {
	display: flex;
}
